<html>
<head>
<title>Spring Boot</title>
<style>
table, th, td {
	border: 1px solid black;
	border-spacing: 0px;
}

th, td {
	padding: 10px;
}
</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Age</th>
				
			</tr>
		</thead>
		<tbody>
                <tr th:each="person : ${personLst}">
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.age}"></td>
                    
                    
                </tr>
            </tbody>
	</table>
	
</body>
</html>